@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap");
@mixin tablet() {
  @media all and (max-width: 1400px) {
    @content;
  }
}

*,
::after,
::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Noto Serif TC", serif;
}

#app {
  position: relative;
  width: 100%;
  height: 100%;
}

img,
canvas {
  width: 100%;
}
