@import "_config";
@import "./layouts/menu";
@import "./calculator/calculator";
@import "./floor/floor";
@import "./home/home";
@import "./fancybox/floorfancybox";
@import "./building/building";
@import "./floor3D/floor3D";

*,
::after,
::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Noto Serif TC", serif;
}

#app {
  position: relative;
  width: 100%;
  height: 100%;
}

img,
canvas {
  width: 100%;
  display: block;
}
