#home {
  height: 100vh;
}
#home .home-cut {
  width: 100vw;
  height: 100vh;
  transition: 1.25s;
}
#home .home-cut-1-container {
  width: 100%;
  height: 100%;
}
#home .home-cut-1-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#home .home-cut-2 {
  width: 100%;
  height: 100%;
  background-color: black;
}
#home .home-cut-3 {
  width: 100%;
  height: 100%;
  background-color: rgb(14, 31, 63);
}
#home .home-cut-4 {
  width: 100%;
  height: 100%;
  background-color: rgb(8, 48, 6);
}
#home .home-cut-5 {
  width: 100%;
  height: 100%;
  background-color: rgb(36, 4, 31);
}
#home .home-cut-6 {
  width: 100%;
  height: 100%;
  background-color: rgb(45, 46, 6);
}
#home .swiper-slide-prev .home-cut-1,
#home .swiper-slide-prev .home-cut-5 {
  transform: translate(-100%, -100%);
}
#home .swiper-slide-prev .home-cut-2,
#home .swiper-slide-prev .home-cut-4 {
  transform: translate(0, -100%);
}
#home .swiper-slide-prev .home-cut-3 {
  transform: translate(100%, -100%);
}
#home .swiper-slide-active .home-cut-2,
#home .swiper-slide-active .home-cut-3,
#home .swiper-slide-active .home-cut-4,
#home .swiper-slide-active .home-cut-5 {
  transform: translate(0, 0);
}
#home .swiper-slide-next .home-cut-2 {
  transform: translate(100%, 100%);
}
#home .swiper-slide-next .home-cut-3,
#home .swiper-slide-next .home-cut-5 {
  transform: translate(0%, 100%);
}
#home .swiper-slide-next .home-cut-4 {
  transform: translate(-100%, 100%);
}
#home .swiper-slide-next .home-cut-6 {
  transform: translate(100%, 100%);
}