#floor3D-page {
  width: 100%;
  height: 100vh;
  display: flex;
  background-color: #dbdbdb;
  position: relative;
  font-family: "Noto Serif TC", serif;
  overflow: hidden;
  pointer-events: none;
  z-index: 21;
  .floor3D-main {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
  .floor3D-nav {
    position: absolute;
    left: 15vw;
    top: 0;
    width: 16vw;
    height: 100%;
    display: flex;
    align-items: center;
    pointer-events: auto;
    .floor3D-nav-container {
      display: flex;
      flex-direction: column;
      font-size: 24px;
      color: #1a1a1a;
      font-weight: 700;
      width: 100%;
      .arrow-box {
        width: 1.7vw;
        margin-bottom: 2vw;
        align-self: center;
        cursor: pointer;

        img {
          width: 100%;
        }
      }
      .next-arrow-box {
        margin-top: 2vw;
        margin-bottom: 0vw;
      }

      ul {
        list-style-type: none;
        height: 65vh;
        overflow-y: scroll;
        display: flex;
        align-items: center;
        flex-direction: column-reverse;
        &::-webkit-scrollbar {
          display: none;
        }
        li {
          text-align: center;
          margin-bottom: 30px;
          line-height: 2;
          cursor: pointer;
          width: 100%;
          transition: all 0.5s;
          background-color: transparent;
        }
        transition: all 0.5s;
        .selected {
          background-color: rgba(48, 102, 119, 0.3);
          transition: all 0.5s;
        }
      }
      @media screen and (max-width: 1440px) {
        font-size: 18px;
      }
    }
  }
  .floor3D-building {
    position: relative;
    height: 90%;
    canvas {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
    @media (max-aspect-ratio: 4/3) {
      canvas {
        display: none;
      }
    }
    img {
      height: 100%;
      width: auto;
    }
    .building-svg {
      position: absolute;
      height: 97.8%;
      top: 2%;
    }
    .building-a {
      left: 14.75%;
      height: 97%;
      top: 3%;
    }
    .building-c {
      left: 9%;
    }
  }
  .titleBox {
    position: absolute;
    font-size: 50px;
    left: 70%;
  }
}
