#app {
  .menu-container {
    position: fixed;
    width: 150px;
    height: 100vh;
    overflow: hidden;
    z-index: 50;
    svg {
      width: 40px;
      path {
        transition: all 0.5s;
      }
    }
    @include tablet {
      width: auto;
      height: auto;
    }
  }

  .left-menu {
    left: -4%;
    transform: rotateY(180deg);
    transition: all 0.5s;
    &:hover {
      width: 100px;
      left: 0;
      transition: all 0.5s;
    }
    @include tablet {
      display: none;
    }
  }
  .right-menu {
    right: -4%;
    transition: all 0.5s;
    &:hover {
      width: 100px;
      right: 0;
      transition: all 0.5s;
    }
    @include tablet {
      right: 3%;
      top: 30%;
      &:hover {
        right: 3%;
        width: unset;
      }
    }
  }

  .menu-inner {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: baseline;
    justify-content: end;
    svg,
    .hamburger {
      cursor: pointer;
    }
    svg {
      transform: translate(0%, -50%);
    }
    .hamburger {
      transform: translate(0, 7px);
    }
    @include tablet {
      transform: none !important;
      width: 75px;
      height: 75px;
      background-color: #c3a457;
      border-radius: 50%;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      transition: all 0.5s;
      svg {
        display: none;
      }
    }
  }

  .hamburger {
    position: absolute;
    right: 9%;
    width: 15%;
    height: 1px;
    background-color: #fff;
    pointer-events: none;

    &::before {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      top: auto;
      bottom: 12px;
      width: 100%;
      height: 1px;
      background-color: #fff;
    }
    &::after {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      bottom: 6px;
      width: 100%;
      height: 1px;
      background-color: #fff;
    }
    @include tablet {
      right: unset;
      width: 25%;
    }
  }

  .menu-toggle {
    .hamburger {
      background-color: #c2a357;
      &::before,
      &::after {
        background-color: #c2a357;
      }
    }
    @include tablet {
      .menu-inner {
        background-color: white;
        transition: all 0.5s;
      }
    }
  }

  .menu-content {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #c2a357;
    z-index: 49;
    clip-path: inset(0 0 0 100%);
    transition: all 0.5s;
  }
  .menu-content-close {
    position: absolute;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-color: white;
    top: 6%;
    right: 8%;
    cursor: pointer;
    &::before {
      content: "\00d7";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 45px;
      color: #c2a357;
    }

    @include tablet {
      top: 20%;
      right: 3%;
    }
  }
  .menu-content-title {
    width: 7vw;
    height: auto;
    margin-bottom: 3%;
    cursor: pointer;
  }
  .menu-content-main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    a {
      color: white;
      text-decoration: none;
    }
  }
  .menu-contain-col {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 13%;
    margin: auto;
  }
  .menu-contain-col-title {
    font-size: 3vw;
    margin-bottom: 15%;
  }
  .menu-contain-col-link {
    margin-bottom: 10%;
  }
}
